.catalog {
  display: grid;
  grid-template-columns: minmax(200px, 300px) auto;
  grid-template-rows: max-content min-content;
  margin-bottom: 10px;
}
.banner {
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 56px;
  overflow: hidden;
  text-align: center;
}
.banner img {
  max-height: 250px;
  min-height: 100px;
  width: 100%;
}
