.header > * {
  padding: 35px 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.svg {
  fill: #000000;
}

.navList {
  list-style: none;
  display: flex;
  column-gap: 40px;
}
.blockBtn {
  display: flex;
  column-gap: 20px;
}

.active {
  color: #000000;
  font-weight: bold;
}
