.header {
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  max-width: 1920px;
  width: 100%;
}

.svg {
  fill: #000000;
}

.nav > ul {
  list-style: none;
  display: flex;
  column-gap: 40px;
  padding-left: 0;
}
.active {
  color: #000000;
  font-weight: bold;
}

.blockBtn {
  display: flex;
  column-gap: 20px;
}
