.header {
  padding: 35px 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg {
  fill: #000000;
}

.navList {
  list-style: none;
  display: flex;
  column-gap: 40px;
}
.blockBtn {
  display: flex;
  column-gap: 20px;
}
